@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');


html, body {
    padding: 0;
    margin: 0;
    float: center;
    font-size: 2vmax;
}

#bigChatBox {
    height: 100vh;
    background-color: rgb(238, 195, 195);
}

#content {
    font-family: 'Roboto', sans-serif;

}

#content span {
    color: #AA6A6A;
    /* text-transform: uppercase; */
    font-weight: bold;
    font-size: 60px;
}

#pageTitle{
    font-size: 400px;
}

.container {
    display: grid;
    grid-template-columns: 15vmax 60%;
    margin-top: 5px;
    padding-top: 8px;
    margin-bottom: 5px;
    padding-bottom: 3px;
    font-family: 'Roboto', sans-serif;

}

.container:hover {
    cursor: pointer;
    background-color: #f1f0f0;
    transition: all 150ms ease;
}

.container:not(:hover) {
    transition: all 150ms ease;
}

#chatName {
    font-weight: bold;
    font-size: 18px;
}

#chatPicture img {
    border-radius: 50%;
    height: 8.5vmax;
    margin-left: 15px;
}

#chatDescription {
    margin-top: 14px;
    margin-left: -10px;
}

#chatText {
    margin-top: 5px;
    margin-left: -2px;
    color: #979797;
}

#navbar .fa-comment {
    color: #283593;
    
}

#navbar {
    margin-left: -6%;
}
