body {
    padding: 0;
    margin: 0;
}

#container {
    padding-top: 10vh;

}

#textbox {
    width: 80vw;
    height: 80%;
    margin: auto;
    background-color:#BB997F;
    box-shadow: black;
    padding: 5vh 5vw;
}

.btn-primary {
    color: white;
    background-color: #783B5A;
    border-color: #783B5A;
}

.btn-primary:focus {
    color: white;
    background-color: #AA6A6A;
    border-color: #AA6A6A;
}

.btn-primary:active {
    color: white;
    background-color: #AA6A6A;
    border-color: #AA6A6A;
}

.header{
    text-align: center;
}
#logo{
    width: 30%;
}