
    #eventLogo{ 
        border-radius: 10px;
        border: 2px solid BLACK;
        padding: 10px; 
    }

    /* .eventGrid{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: ;

    } */

    #tours {
        background-color: blue;
    }