@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

#navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px -0.5px 3px #888888;
    z-index: 2;
    margin: auto;
    padding-left: 8%;
  
}

#navbar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 13px 0;
    transition: all 0.3s ease;
    color: black;
    font-size: 4vmax;
}

#navbar a:hover {
    color: #283593;
}
