@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
body {
    background-color: #BB997F;
}

#firebaseui-auth-container {
    margin: auto;
    margin-top: 5vh;
}

.header{
    text-align: center;
  }
  #logo{
      width: 30%;
  }
