.header {
    text-align: center;
}

#logo {
    width: 30%;
}


head,
body {
    margin: 0;
    padding: 0;
}

#pageTile {
    margin: 20% 16% 0;
    text-transform: uppercase;
    font-size: 30px;

}

#container {
    background-color: rgb(238, 195, 195);
    width: 100%;
    overflow: scroll;

}

#searchBar {
    margin: 0% 14% 2%;
    width: 300px;
    height: 50px;
}

.button {
    /* margin:10% 9% 0; */
    background: #ffffff;
    border-radius: 6px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 30vw;
    text-decoration: none;

}

.searchResult .dummyResult {
    margin: 8%;
    padding: 3%;
    height: auto;
    border-radius: 6px;
    /* display: inline-block; */
    background-color: white;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.helpCheck {
    margin: 8%;
    padding: 3%;
    height: auto;
    border-radius: 6px;
    /* display: inline-block; */
    background-color: white;
}

#bottomBuffer {
    margin-bottom: 10vmax;
}